@font-face {
  font-family: "GmarketSans";
  font-weight: 300;
  src: url("/fonts/GmarketSansLight.woff") format("woff");
}

@font-face {
  font-family: "GmarketSans";
  font-weight: 500;
  src: url("/fonts/GmarketSansMedium.woff") format("woff");
}

@font-face {
  font-family: "GmarketSans";
  font-weight: 700;
  src: url("/fonts/GmarketSansBold.woff") format("woff");
}

@font-face {
  font-family: "NotoSans";
  font-weight: 700;
  src: url("/fonts/NotoSans-Bold.woff") format("woff");
}

@font-face {
  font-family: "NotoSans";
  font-weight: 300;
  src: url("/fonts/NotoSans-Light.woff") format("woff");
}

@font-face {
  font-family: "NotoSans";
  font-weight: 500;
  src: url("/fonts/NotoSans-Medium.woff") format("woff");
}

@font-face {
  font-family: "NotoSans";
  font-weight: 400;
  src: url("/fonts/NotoSans-Regular.woff") format("woff");
}

@font-face {
  font-family: "NotoSans";
  font-weight: 200;
  src: url("/fonts/NotoSans-Thin.woff") format("woff");
}

:root {
  font-family: "GmarketSans", sans-serif;
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  background-color: #111111;
  color: white;
  line-height: 100;
}
