@font-face {
  font-family: "Mansalva";
  font-weight: 400;
  src: url("/fonts/Mansalva-Regular.woff") format("woff");
}

@font-face {
  font-family: "ghanachoco";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ghanachoco.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NotoSans";
  font-weight: 700;
  src: url("/fonts/NotoSans-Bold.woff") format("woff");
}

@font-face {
  font-family: "NotoSans";
  font-weight: 300;
  src: url("/fonts/NotoSans-Light.woff") format("woff");
}

@font-face {
  font-family: "NotoSans";
  font-weight: 500;
  src: url("/fonts/NotoSans-Medium.woff") format("woff");
}

@font-face {
  font-family: "NotoSans";
  font-weight: 400;
  src: url("/fonts/NotoSans-Regular.woff") format("woff");
}

@font-face {
  font-family: "NotoSans";
  font-weight: 200;
  src: url("/fonts/NotoSans-Thin.woff") format("woff");
}

:root {
  font-family: "NotoSans", sans-serif;
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  background-color: #111111;
  color: white;
  line-height: 1.5;
  letter-spacing: -0.4px;
  min-width: 430px;
}
